
body {
    background-color: navy; 
    opacity: inherit;
    
}


.button {
    color:rebeccapurple;
    background-color: black;
    width: 100px;
}


.container {
    margin:0 auto;
    border: 5px solid rgb(0,0,0);
    background-color: orangered;
    max-height: 300px;
}

.navtext {
    display: inline;
    margin-right: 170px;
}

.titlebox {
    margin:0 auto;
    font-size: larger;
    background-color: orangered;
    align-self: center;
    text-align: center;
    max-width: 400;
    border: 10px solid rgb(0,0,0);
    
}
